<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <title>Todo List</title>
  </head>
  <body>
    <h1> Todo List </h1>
    <form class="inputContainer" action="/link" method="post">
      <input type="text" name="todoInput" value="" placeholder="enter todo"><button type="submit">Add Task</button>
    </form>
    <ul class="listContainer">
      {{#listItems}}
        <form action='/link' method="post">
          <li> {{description}}<a href="/link/{{title}}/{{id}}/edit">Edit</a><br><a href="/link/{{title}}/{{id}}/delete">delete</a></li>
        </form>
        <br>
      {{/listItems}}
    </ul>
    <hr>
    <h1>Completed List</h1>
    <ul>
      {{#completeList}}
        <li>{{ctask}}</li>
      {{/completeList}}
    </ul>
  </body>
</html>
